@model BurgerApi.Models.Burger

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Burger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstagramUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstagramUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstagramSourceUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstagramSourceUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cuisine.CuisineCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BurgerBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BurgerBase.BaseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
