@model IEnumerable<BurgerApi.Models.BurgerBase>

@{
    ViewData["Title"] = "BurgerBase All";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="BurgerBaseAll">All</a>
        </li>
    </ul>
}



<p>
    <a asp-action="CreateBurgerBase" asp-controller="Admin">Create New</a>
</p>

<table class="uk-table uk-table-divide uk-table-hover">
    <thead>
        <tr>
            <th>
                Base name
            </th>
            <th>
                Base code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseNameCode)
                </td>
                <td>
                    <a asp-action="EditBurgerBase" asp-controller="Admin" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="BurgerBaseDetails" asp-controller="Admin" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
