@model BurgerApi.Models.BurgerBase

@{
    ViewData["Title"] = "Burger Base Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="BurgerBaseAll">All</a>
        </li>
        <li>
            <span href="">Burger base details</span>
        </li>
    </ul>
}


<div>
    <h4>BurgerBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseNameCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseNameCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Admin" asp-action="EditBurgerBase" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Admin" asp-action="BurgerBaseAll">Back to List</a>
</div>
