@model BurgerApi.Models.Cuisine

@{
    ViewData["Title"] = "Cuisine Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="CuisinesAll">All</a>
        </li>
        <li>
            <span href="">Details</span>
        </li>
    </ul>
}

<div>
    <h4>Cuisine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuisineCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuisineCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CuisineTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuisineTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Admin" asp-action="EditCuisine" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Admin" asp-action="Index">Back to List</a>
</div>
